<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body style="height:100%;margin:0;padding:64px 0 32px;width:100%;background-color:#f6f6f6">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1884044338307600245templateContainer"
       style="border-collapse:collapse;border:0;max-width:600px!important; margin: 0 auto !important;">
    <tr>
        <td valign="top" class="m_-1884044338307600245mcnTextContent"
            style="background:#08618d none no-repeat center/cover;background-color:#08618d; padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;text-align:left;padding:0!important">
          <div class="m_-1884044338307600245monLogo" style="padding:15px 0 0;text-align:center">
            <a class="m_-8670270257299599086monLogoLink"
               href="{{web_app_url}}"
               style="display:inline-block;color:#2d2d2d;font-weight:normal;text-decoration:underline"
               target="_blank"
               data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://findmyprofession.us12.list-manage1.com/track/click?u%3Dd65332cb2735cb137a3dd477b%26id%3D0012ef2e21%26e%3Dafd37b2524&amp;source=gmail&amp;ust=1500734979364000&amp;usg=AFQjCNFUK6JwtEqmBiToerJgNTCvk9CN5w">
              <img align="none"
                   src="https://ci3.googleusercontent.com/proxy/hohH381H3uHADh0UE3FzaImqddxL3uw8ekCo716ZaWqJC0uz5hPVOPMWil5ZvL8cWNcvxuvqwBH_XRrIFjYoIyJjPUXg4D1wo8WxqHIAaepQnF-CbLvDxG9zD7WgFd5Uk6PVkucf5DDIyBVJlX8LMwp0EdsTAgGLvslia90=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/1a3b2e26-d0d0-4249-a8bc-4ed87932e173.png"
                   style="width:210px;height:65px;margin:0px;border:0;outline:none;text-decoration:none;display:inline-block;max-width:100%"
                   class="CToWUd">
            </a>
          </div>
        </td>
    </tr>
    <tr>
        <td valign="top" id="m_-1884044338307600245templateBody"
            style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px none #eaeaea;padding-top:0;padding-bottom:0px">
            <table align="left" border="0" cellpadding="0" cellspacing="0"
                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                   class="m_-1884044338307600245mcnTextContentContainer">
                <tr>
                    <td valign="top" class="m_-1884044338307600245mcnTextContent"
                        style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;padding:0!important">
                        <div class="m_-1884044338307600245monEmailContent" style="padding:31px 40px 12px">
                            {% for package in packages.payer_basket %}
                                        
                                    {% if package.title == "Job Interview Prep" %}
                                            <h1 style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:21px">
                                                Job Interview Prep</h1>
                                            <div class="m_-1884044338307600245monTextMin" style="padding:0 15px">
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Welcome! Thanks for signing up for our Job Interview Prep.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    If you haven’t already, please send us your current Resume and a link to the job you will be interviewing for. 
                                                    If this is a general interview training and you do not have an upcoming interview, 
                                                    please include a link to a job that you would like to be interviewing for. 
                                                    Also, please schedule a time for your interview training using the link below.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Here’s what you can expect from us:</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    After receiving your Resume and Job Link, we will do our research to better prepare you for the interview.
                                                    1-on-1 tailored advice specific to the position of interest.
                                                    You can respond directly to this email with your current Resume and Job Link. 
                                                    Don’t forget to schedule your training using the link below.</p>
                                                <a style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left" 
                                                    href="http://calendly.com/findmyprofession/job-interview-prep/">Calendly.com/findmyprofession/job-interview-prep</a>
                                            </div>
                                    {% endif %}

                                    {% if package.title == "LinkedIn Profile Makeover" %}
                                            <h1 style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:21px">
                                                LinkedIn Profile Makeover</h1>
                                            <div class="m_-1884044338307600245monTextMin" style="padding:0 15px">
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Welcome! Thanks for signing up for our LinkedIn Profile Makeover.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    If you haven’t already, please send us your current Resume and LinkedIn Login info so we can get started on your LinkedIn Profile Makeover.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Here’s what you can expect from us:</p>
                                                <p
                                                        style="margin:0 0 20px 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    1. After receiving your Resume and LinkedIn Login Info, we will complete your new and improved LinkedIn Profile within 2-4 business days.</p>
                                                <p
                                                        style="margin:0 0 20px 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    2. Please let us know if there are any edits or revisions that you would like to have made.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    You can respond directly to this email with your current Resume and LinkedIn login info.</p>
                                            </div>
                                    {% endif %}

                                    {% if package.title == "Cover Letter Service" %}
                                            <h1 style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:21px">
                                                Cover Letter Service</h1>
                                            <div class="m_-1884044338307600245monTextMin" style="padding:0 15px">
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Welcome! Thanks for signing up for our Cover Letter Service.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                   If you haven’t already, please send us your resume and a link to the job you are interested in having a cover letter written for.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Here’s what you can expect from us:</p>
                                                <p
                                                        style="margin:0 0 20px 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    1. After receiving your Resume and Job Link, we will return your newly written cover letter in a DOC and PDF format within 2-4 business days.</p>
                                                <p
                                                        style="margin:0 0 20px 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    2. Please let us know if there are any edits or revisions that you would like to have made.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    You can respond directly to this email with a link to the position of interest.</p>
                                            </div>
                                    {% endif %}

                                    {% if package.title == "Resume Makeover" %}
                                            <h1 style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:21px">
                                                Resume Makeover</h1>
                                            <div class="m_-1884044338307600245monTextMin" style="padding:0 15px">
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Welcome! Thanks for signing up for our Resume Makeover.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                   If you haven’t already, please complete the Resume Makeover Worksheet so we can get started on your resume. (See below)</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Here’s what you can expect from us:</p>
                                                <p
                                                        style="margin:0 0 20px 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    1. After receiving your Resume and completed Resume Makeover Worksheet, we will return your newly written resume in a DOC and PDF format within 7-10 business days.</p>
                                                <p
                                                        style="margin:0 0 20px 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    2. Please let us know if there are any edits or revisions that you would like to have made.</p>
                                                <p
                                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                                    Please respond directly to this email with your current Resume and downloaded + completed <a style="color:#08618d;font-style:normal;font-weight:bold;font-family:'Lato';"
                                                                                                                                                 href="https://drive.google.com/file/d/15WlY3j38WLisnUBlrqjCe7WAZC7RPmpD/view?usp=sharing">Resume Makeover Worksheet</a>.
                                            </div>
                                    {% endif %}

                            {% endfor %}
                            {# <h1
                                    style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:21px">
                                Welcome!</h1>
                            <div class="m_-1884044338307600245monTextMin" style="padding:0 15px">
                                <p
                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                    Hey {{ user.fullName }},</p>
                                <p
                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                    Thanks for signing up for our
                                    {% for package in packages.payer_basket %}
                                        {{ package.title }}
                                    {% endfor %}
                                    service.</p>
                                <p
                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                    Your order details including a receipt (tax write-off) is below.</p>
                            </div> #}
                            
                            
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" class="m_-1884044338307600245mcnTextContent"
            style="background:#e9f2f6 none no-repeat center/cover;background-color:#e9f2f6; padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;text-align:center;padding:0!important">
            <div class="m_-1884044338307600245monFooter" style="padding:4px 0 14px">
                <p class="m_-1884044338307600245monRegards"
                   style="margin:10px 0;padding:0;margin-bottom:10px;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:25px!important;text-align:center">
                    Thank you!<span style="display:block">Find My Profession Team</span></p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
